*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

html{
    font-size: 18px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 80px;
    overflow: scroll;
}

::-webkit-scrollbar{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.wrapper{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.573);
    border-radius: 1rem;
    /* overflow: hidden; */
}

.mainbox{
    flex-direction: column;
    border: solid 2px rgb(5, 33, 94);
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    transition: all 01s ease;
}

.upperbox{
    height: 45px;
    width: 100%;
    background-color: rgb(5, 33, 94);
    overflow: hidden;
    justify-content: space-between;
    cursor: default;
    user-select: none;
}

.upperbox img{
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.upperbox .headingbox{
    width: 40vw;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 400;
    justify-content: flex-start;
    margin-left: 10px;
    padding: 0.25rem;
}
.upperbox .toolbox{
    width: 160px;
    height: inherit;
    overflow: hidden;
    font-size: 0.9rem;
    justify-content: space-around;
}

.upperbox .toolbox .tools{
    height: inherit;
    width: 50px;
    transition: all 0.3s ease;
}
.upperbox .toolbox .tools:hover{
    background-color: rgba(77, 187, 241, 0.562);
}
.screenbody{
    /* width: 854px; */
    height: 480px;
    width: fit-content;
    overflow: hidden;
    transition: all 0.5s ease;
}
.screenbody img{
    /* width: 854px; */
    height: 480px;
    border-radius: 1rem;
    border: solid 3px white;
}



/* --------- For Script JS--------- */
#appopener{
    width: 60px;
    height: 60px;
    background-color: rgb(5, 33, 94);
    cursor: pointer;
    display: none;
    border-radius: 1rem;
}
#appopener.showappopener{
    display: flex;
    /* display: block; */
}
#mainbox.closeapp{
    display: none;
}